!!! 5
html
	head
		- if (typeof(title) == 'undefined')
			title Express Starter Template
		- else 
			title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		// include default stylesheets and any view stylesheets
		// link(rel='stylesheet', href=base + '/stylesheets/style.css')
		link(rel='stylesheet', href=base + '/stylesheets/bootstrap.min.css')

		// include default scripts and any view scripts
		script(src=base + '/javascripts/jquery-1.7.min.js')
		script(src=base + '/javascripts/bootstrap.min.js')

		// include default stylesheets and any view stylesheets
		link(rel='stylesheet', href=base + '/stylesheets/graph.css')
		// include defined flot graphs
		script(src=base + '/javascripts/flot/jquery.flot.js')
		script(src=base + '/javascripts/flot/jquery.flot.pie.js')
		script(src=base + '/javascripts/flot/jquery.flot.categories.js')

		script(src=base + '/javascripts/utils.js')

	body   
		header
			div(class="navbar")
				div(class="navbar-inner")
					a(class="brand", href="/") Balance
					ul(class="nav")
						li(class="")
							a(href="/") Home
						li(class="dropdown")
							a(id="dropConsole", href="#", role="button", class="dropdown-toggle", data-toggle="dropdown") Console
							ul(class="dropdown-menu", role="menu", aria-labelledby="dropConsole")
								li(role="presentation")
									a(role="menuitem", href="/operation/get") Add
								li(role="presentation")
									a(role="menuitem", href="/analytic/query") Query
								li(role="presentation")
									a(role="menuitem", href="/operation/list") List
						li(class="dropdown")
							a(id="dropReport", href="#", role="button", class="dropdown-toggle", data-toggle="dropdown") Report
							ul(class="dropdown-menu", role="menu", aria-labelledby="dropReport")
								li(role="presentation")
									a(role="menuitem", href="/report/annual") Annual
								li(role="presentation")
									a(role="menuitem", href="/report/montly") Montly
								li(role="presentation")
									a(role="menuitem", href="/report/aggregate") Aggregate

		#body!=body
		footer
